<h1> Testing </h1>

<% @users.each do |user| %>

<div>
<%=user.username %>
<%= link_to "delete user", user, method: :delete, data: { confirm: "Are you sure?" } %>

</div>

  <%end%> <br>

  <%= link_to "Back", root_path %>
