div .album-tile {
  margin-bottom: .5em;
}

div .album-tile h4 {
  color: #868686;
}

h3 .album-artist {
  margin-right: 1em;
}

h3 .album-title {
  font-weight: bold;
}

.fa.fa-pencil-square-o.edit {
  font-size: 18px;
}

.fa.fa-trash-o.delete {
  font-size: 18px;
}
